In [12]:
# Importação de bibliotecas e módulos
import pandas as pd

In [13]:
# Me mostre tudo
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [14]:
#Abrindo a tabela
#Com o parse_dates, o pandas reconhece a coluna como sendo uma data
#Com o dayfirst, considero o dia antes do ano no formato da data
df = pd.read_csv('20210207_SRAG.csv', encoding = 'Latin-1', sep = ';', parse_dates=['Data de Notificação'], dayfirst=True)

In [15]:
#Renomeando colunas para evitar problemas de espaçamento
df.columns = ['MUNICIPIO', 'UF', 'IDADE', 'GRUPO_DE_IDADE', 'SEXO', 'RACA', 'COVID_E_OUTRAS_SRAG', 'EVOLUACAO', 'N_HOMENS', 'N_MULHERES', 'CASOS', 'Raca_ID', 'Cs Sexo_ID', 'DATA_DE_NOTIFICACAO', 'FAIXA_ETARIA', 'EVOLUCAO_NOT_NULL', 'ULTIMA_DATA_DE_NOTIFICACAO']

In [16]:
# Vendo meu df
df.head()

,MUNICIPIO,UF,IDADE,GRUPO_DE_IDADE,SEXO,RACA,COVID_E_OUTRAS_SRAG,EVOLUACAO,N_HOMENS,N_MULHERES,CASOS,Raca_ID,Cs Sexo_ID,DATA_DE_NOTIFICACAO,FAIXA_ETARIA,EVOLUCAO_NOT_NULL,ULTIMA_DATA_DE_NOTIFICACAO
0,RIBEIRAO PRETO,SP,84,80,Masculino,Branca,OUTRAS SRAG,Cura,84.0,NaN,1,1,Masculino,2020-06-23,80,1,29/09/2020
1,RIO CLARO,SP,84,80,Masculino,Branca,OUTRAS SRAG,Cura,84.0,NaN,1,1,Masculino,2020-07-05,80,1,29/09/2020
2,SAO JOSE DOS CAMPOS,SP,84,80,Masculino,Branca,OUTRAS SRAG,Cura,84.0,NaN,1,1,Masculino,2020-08-02,80,1,29/09/2020
3,ITAPEVA,SP,84,80,Masculino,Branca,OUTRAS SRAG,Cura,84.0,NaN,1,1,Masculino,2020-08-14,80,1,29/09/2020
4,SALTO,SP,84,80,Masculino,Branca,OUTRAS SRAG,Cura,84.0,NaN,1,1,Masculino,2020-09-06,80,1,29/09/2020

In [17]:
#Quais as opções da coluna 'COVID_E_OUTRAS_SRAG'
df.COVID_E_OUTRAS_SRAG.unique()

array(['OUTRAS SRAG', 'COVID 19'], dtype=object)

In [18]:
#Escolher apenas a opção COVID 19 na coluna 'COVID_E_OUTRAS_SRAG'
df = df[df.COVID_E_OUTRAS_SRAG == 'COVID 19']

In [19]:
#Escolher apenas a cidade de SAO PAULO na coluna MUNICIPIO
df = df[df.MUNICIPIO == 'SAO PAULO']

In [20]:
# Vendo meu df
df.head()

,MUNICIPIO,UF,IDADE,GRUPO_DE_IDADE,SEXO,RACA,COVID_E_OUTRAS_SRAG,EVOLUACAO,N_HOMENS,N_MULHERES,CASOS,Raca_ID,Cs Sexo_ID,DATA_DE_NOTIFICACAO,FAIXA_ETARIA,EVOLUCAO_NOT_NULL,ULTIMA_DATA_DE_NOTIFICACAO
554,SAO PAULO,SP,18,15,Feminino,Branca,COVID 19,Cura,NaN,18.0,1,1,Feminino,2020-05-19,15,1,29/09/2020
556,SAO PAULO,SP,18,15,Feminino,Branca,COVID 19,Cura,NaN,18.0,1,1,Feminino,2020-12-14,15,1,29/09/2020
558,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-05-16,15,1,29/09/2020
559,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-05-22,15,1,29/09/2020
560,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-09-21,15,1,29/09/2020

In [21]:
#criando age range
bins = [0, 9, 19, 29, 39, 49, 59, 69, 79, 89, 200]

In [22]:
labels = ['10-', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', 
          '80-89', '90+']

In [23]:
df['agerange'] = pd.cut(df.IDADE, bins, labels=labels, include_lowest=True)

In [24]:
# Vendo meu df
df.head()

,MUNICIPIO,UF,IDADE,GRUPO_DE_IDADE,SEXO,RACA,COVID_E_OUTRAS_SRAG,EVOLUACAO,N_HOMENS,N_MULHERES,CASOS,Raca_ID,Cs Sexo_ID,DATA_DE_NOTIFICACAO,FAIXA_ETARIA,EVOLUCAO_NOT_NULL,ULTIMA_DATA_DE_NOTIFICACAO,agerange
554,SAO PAULO,SP,18,15,Feminino,Branca,COVID 19,Cura,NaN,18.0,1,1,Feminino,2020-05-19,15,1,29/09/2020,10-19
556,SAO PAULO,SP,18,15,Feminino,Branca,COVID 19,Cura,NaN,18.0,1,1,Feminino,2020-12-14,15,1,29/09/2020,10-19
558,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-05-16,15,1,29/09/2020,10-19
559,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-05-22,15,1,29/09/2020,10-19
560,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-09-21,15,1,29/09/2020,10-19

In [25]:
#Criando as colunas de ano e mês
df['ano'] = df['DATA_DE_NOTIFICACAO'].dt.year
df['mes'] = df['DATA_DE_NOTIFICACAO'].dt.month

In [26]:
# Vendo meu df
df.head()

,MUNICIPIO,UF,IDADE,GRUPO_DE_IDADE,SEXO,RACA,COVID_E_OUTRAS_SRAG,EVOLUACAO,N_HOMENS,N_MULHERES,CASOS,Raca_ID,Cs Sexo_ID,DATA_DE_NOTIFICACAO,FAIXA_ETARIA,EVOLUCAO_NOT_NULL,ULTIMA_DATA_DE_NOTIFICACAO,agerange,ano,mes
554,SAO PAULO,SP,18,15,Feminino,Branca,COVID 19,Cura,NaN,18.0,1,1,Feminino,2020-05-19,15,1,29/09/2020,10-19,2020,5
556,SAO PAULO,SP,18,15,Feminino,Branca,COVID 19,Cura,NaN,18.0,1,1,Feminino,2020-12-14,15,1,29/09/2020,10-19,2020,12
558,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-05-16,15,1,29/09/2020,10-19,2020,5
559,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-05-22,15,1,29/09/2020,10-19,2020,5
560,SAO PAULO,SP,19,15,Feminino,Branca,COVID 19,Cura,NaN,19.0,1,1,Feminino,2020-09-21,15,1,29/09/2020,10-19,2020,9

In [27]:
#Selecionando apenas ano de 2020
df_2020 = df[df.ano == 2020]

In [28]:
#Selecionando apenas ano de 2021
df_2021 = df[df.ano == 2021]

In [29]:
#tabelas por faixa etaria em 2020
faixa_90 = df_2020[df_2020['agerange'] == '90+']
faixa_80_89 = df_2020[df_2020['agerange'] == '80-89']
faixa_70_79 = df_2020[df_2020['agerange'] == '70-79']
faixa_60_69 = df_2020[df_2020['agerange'] == '60-69']
faixa_50_59 = df_2020[df_2020['agerange'] == '50-59']
faixa_40_49 = df_2020[df_2020['agerange'] == '40-49']
faixa_30_39 = df_2020[df_2020['agerange'] == '30-39']
faixa_20_29 = df_2020[df_2020['agerange'] == '20-29']
faixa_10_19 = df_2020[df_2020['agerange'] == '10-19']
faixa_10 = df_2020[df_2020['agerange'] == '10-']

In [30]:
#tabelas por faixa etaria em 2021
faixa_n_90 = df_2021[df_2021['agerange'] == '90+']
faixa_n_80_89 = df_2021[df_2021['agerange'] == '80-89']
faixa_n_70_79 = df_2021[df_2021['agerange'] == '70-79']
faixa_n_60_69 = df_2021[df_2021['agerange'] == '60-69']
faixa_n_50_59 = df_2021[df_2021['agerange'] == '50-59']
faixa_n_40_49 = df_2021[df_2021['agerange'] == '40-49']
faixa_n_30_39 = df_2021[df_2021['agerange'] == '30-39']
faixa_n_20_29 = df_2021[df_2021['agerange'] == '20-29']
faixa_n_10_19 = df_2021[df_2021['agerange'] == '10-19']
faixa_n_10 = df_2021[df_2021['agerange'] == '10-']

### Analisando por faixa etária

#### faixa_10

In [31]:
faixa_10 = (faixa_10['mes'].value_counts())
faixa_10

5     124
6     115
7      94
4      77
11     67
8      57
9      52
12     47
10     29
3      23
Name: mes, dtype: int64

In [32]:
faixa_n_10 = (faixa_n_10['mes'].value_counts())
faixa_n_10

1    13
Name: mes, dtype: int64

#### faixa_10_19

In [22]:
faixa_10_19 = (faixa_10_19['mes'].value_counts())
faixa_10_19

7     291
8     286
6     251
9     220
12    207
5     197
10    190
4     185
11    175
3     137
2      21
1       5
Name: mes, dtype: int64

In [23]:
faixa_n_10_19 = (faixa_n_10_19['mes'].value_counts())
faixa_n_10_19

1    44
2     1
Name: mes, dtype: int64

#### faixa_20_29

In [24]:
faixa_20_29 = (faixa_20_29['mes'].value_counts())
faixa_20_29

7     426
6     425
4     415
8     384
5     348
3     322
12    315
9     310
11    276
10    274
2      12
1       9
Name: mes, dtype: int64

In [25]:
faixa_n_20_29 = (faixa_n_20_29['mes'].value_counts())
faixa_n_20_29

1    67
2     1
Name: mes, dtype: int64

#### faixa_30_39

In [26]:
faixa_30_39 = (faixa_30_39['mes'].value_counts())
faixa_30_39

4     769
5     642
6     629
7     608
3     505
8     499
12    491
9     414
11    338
10    321
2      18
1       8
Name: mes, dtype: int64

In [27]:
faixa_n_30_39 = (faixa_n_30_39['mes'].value_counts())
faixa_n_30_39

1    127
2      2
Name: mes, dtype: int64

#### faixa_40_49

In [28]:
faixa_40_49 = (faixa_40_49['mes'].value_counts())
faixa_40_49

4     882
5     828
7     778
6     734
12    588
8     540
9     465
3     447
11    394
10    358
2      12
1      10
Name: mes, dtype: int64

In [29]:
faixa_n_40_49 = (faixa_n_40_49['mes'].value_counts())
faixa_n_40_49

1    204
2      2
Name: mes, dtype: int64

#### faixa_50_59

In [30]:
faixa_50_59 = (faixa_50_59['mes'].value_counts())
faixa_50_59

5     973
4     963
7     915
6     875
12    775
8     715
9     555
11    488
10    451
3     425
2      13
1       5
Name: mes, dtype: int64

In [31]:
faixa_n_50_59 = (faixa_n_50_59['mes'].value_counts())
faixa_n_50_59

1    222
2      1
Name: mes, dtype: int64

#### faixa_60_69

In [32]:
faixa_60_69 = (faixa_60_69['mes'].value_counts())
faixa_60_69

7     1085
6     1050
5     1043
12     963
4      914
8      887
9      759
11     640
10     589
3      417
2       10
1        5
Name: mes, dtype: int64

In [33]:
faixa_n_60_69 = (faixa_n_60_69['mes'].value_counts())
faixa_n_60_69

1    320
2      3
Name: mes, dtype: int64

#### faixa_70_79

In [34]:
faixa_70_79 = (faixa_70_79['mes'].value_counts())
faixa_70_79

7     1003
6      960
5      933
8      854
4      831
12     790
9      677
11     601
10     576
3      423
2        4
1        1
Name: mes, dtype: int64

In [35]:
faixa_n_70_79 = (faixa_n_70_79['mes'].value_counts())
faixa_n_70_79

1    258
2      1
Name: mes, dtype: int64

#### faixa_80_89

In [36]:
faixa_80_89 = (faixa_80_89['mes'].value_counts())
faixa_80_89

6     880
5     802
7     771
8     732
4     669
9     592
12    569
10    492
11    441
3     269
1       6
2       6
Name: mes, dtype: int64

In [37]:
faixa_n_80_89 = (faixa_n_80_89['mes'].value_counts())
faixa_n_80_89

1    162
2      1
Name: mes, dtype: int64

#### faixa_90

In [38]:
faixa_90 = (faixa_90['mes'].value_counts())
faixa_90

6     363
8     344
7     322
5     316
4     291
9     227
10    204
12    189
11    176
3      77
2       3
Name: mes, dtype: int64

In [39]:
faixa_n_90 = (faixa_n_90['mes'].value_counts())
faixa_n_90

1    48
2     1
Name: mes, dtype: int64